/*Eggramen's CSS for the cute blogging template*/

body {
    margin: 0;
    font-family: "Courier New", serif;
    background-color: #eaeaea;
}

/*Everything goes inside here.*/
.wrapper {
    width: 900px;
    margin: 0 auto;
}

.sidebar-img, .footer, .title, .links, .box {
    margin-top: 25px;
}

.title, .links, .footer {
    text-align: center;
}

/*Navigation links.*/
.links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.links li {
    display: inline-block;
}

/*Some fancy code for fun, to add special characters around the navigation links. Change content to "" if you don't want these.*/
.links li:before {
    content: "「";
}

.links li:after {
    content: "」 ∷ ";
}

.links .last:after {
    content: "」";
}

.links li:before, .links li:after {
    letter-spacing: 0.1em;
}

/*Basic box code that is used for all content boxes on the page.*/
.box {
    border: 3px solid black;
    border-radius: 15px;
    padding: 0.5em 1em;
    background-color: white;
    box-shadow: 8px 8px;
}

/*Goes inside the box class. Not given any style by default, but can be used for stuff like fancy borders.*/
.inner {}

/*Prevent image overflow.*/
.box img, .sidebar img {
    max-width: 100%;
    height: auto;
}

/*Wrapper for the sidebar.*/
.sidebar {
    width: 200px;
    float: left;
    margin-bottom: 25px;
}

/*Container for the sidebar image.*/
.sidebar-image {
    border: 1px solid black;
}

/*Remove extra padding line at the bottom of the image.*/
.sidebar-image img {
    display: block;
}

/*This is where the title, navbar, and main content all go.*/
.main-wrapper {
    margin-left: 225px;
}

/*Two columns by default. The "single-column" class can be added to make it one column.*/
.main {
    columns: 2;
    column-gap: 25px;
}

/*Make sure boxes don't spread over multiple columns.*/
.main .box {
    display: inline-block;
}

.single-column {
    columns: 1;
}

.footer {
    margin-bottom: 25px;
    clear: both;
}

@media(max-width:915px) {
    .wrapper {
        width: 95%;
    }

    .main-wrapper {
        width: calc(100% - 225px);
    }
}

@media (orientation: portrait), (max-width: 480px) {
    .wrapper {
        width: 100%;
    }

    .main-wrapper, .sidebar, .footer {
        margin: 0 auto;
        width: 90%;
    }

    .sidebar {
        float: none;
        display: block;
        overflow: scroll;

    }

    .sidebar-image {
        margin: 0 auto;
        width: 33%;
        margin-top:25px;
    }

    .sidebar .sidebar-image img {
        width: 100%;
    }

    .footer {
        margin-bottom: 25px;
    }

}

/*Tutorials used: combination of W3Schools and https://www.youtube.com/watch?v=xXHBmO_I5xs*/

/*custom table for better styling of the content
 */
.scaffold-list table{
    border-collapse: collapse;
    width: 100%;
}

.scaffold-list th, .scaffold-list td{
    text-align: left;
    padding: 8px;
}

.scaffold-list tr:nth-child(even) {
    background-color:#f2f2f2 ;
}


* {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}



.column img:hover{
    transform:scale(1.2);
    border: 1px solid #777;
    transition: .9s;
    z-index: 2;
}

/*Thank you Lazer-Bunny, be weary of visiting this site, it is PINK OVERLOAD*/
.clique-box{
    margin: 10px 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    height: auto;

}


.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}





